<div class="list-header">
    <input type="text" placeholder="Entre Nom" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
    <div>
        <button class="btn btn-primary text-capitalize" [routerLink]="['/home/supplier/add']" style="margin-right: 1.7vw;">Ajouter un fournisseur</button>
    </div>
</div>



<table class="table table-hover">
    <thead class="">
        <tr>
            <th>
                Nom complete
            </th>
            <th>
                E-Mail </th>
            <th>
                Address
            </th>
            <th>
                Teli
            </th>
            <th>
                Date de la creation
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let supplier of listSupplier | paginate: { itemsPerPage: 8, 
            currentPage: p,totalItems: listSupplier.length }">
            <td>
                {{supplier.firstname | uppercase }}{{ " " + supplier.lastname }}
            </td>
            <td>
                {{supplier.email}}
            </td>
            <td>
                {{supplier.address}}
            </td>
            <td>
                {{supplier.phone}}
            </td>
            <td>
                {{supplier.createDate | date:'MM-dd-yyy'}}
            </td>
            <td>
                <i (click)="Delete(supplier.id)" class=" fa fa-trash fa-lg  text-danger" aria-hidden="true" style="cursor: pointer;" aria-hidden="true "></i>
            </td>
            <td>
                <i (click)="update(supplier.id)" class=" fa fa-pencil fa-lg text-success " style="cursor: pointer; " aria-hidden="true "></i>
            </td>
        </tr>
    </tbody>
</table>
<pagination-controls directionLinks="true" previousLabel="" nextLabel='' (pageChange)="pagechangeHandler($event) "></pagination-controls>