<div class="container">

    <div class="box b1">
        <h5>Nombre des produits</h5>
        <p>0</p>
    </div>
    <div class="box b2">
        <h5>Nombre des Fournisseurs</h5>
        <p>0</p>
    </div>
    <div class="box b3">
        <h5>Revenue</h5>
        <p>0</p>
    </div>
    <div class="box b4">
        <h5>Produits 0 en stock</h5>
        <p>0</p>
    </div>
</div>
<div class="container mt-2">
    <div style="width: 45%;">
        <div style="display: block">
            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="barChartOptions" [legend]="'true'" [chartType]="'line'">
  </canvas>
        </div>
    </div>
    <div style="width: 45%;">
        <div style="display: block">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="'true'" [chartType]="'bar'">
            </canvas>
        </div>
    </div>
</div>