table {
    font-size: 0.9rem;
}

thead {
    background-color: rgb(146, 178, 157);
    color: cornsilk;
}

.email span {
    display: block;
}

.email span:first-child {
    font-weight: bold;
}

.img {
    height: 4rem;
}

.ngx-pagination {
    padding-left: 0px !important;
    text-align: center;
}

.ngx-pagination .current,
.btn-info {
    background: rgb(172, 25, 173) !important;
    border-radius: 20px !important;
}