<div class="container contact-form">
    <form [formGroup]="form" (ngSubmit)="updateProduct()">
        <h3 class="text-center">Modifier Un Produit</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Nom" formControlName="name" />
                    <small class="text-danger" *ngIf="form.get('name').errors?.required && form.get('name').touched">Cette champ est obligqtoire                    </small>
                    <small class="text-danger" *ngIf="form.get('name').invalid && form.get('name').touched && form.get('name').value!==''">Value est invalid</small>
                </div>
                <div class="form-group ">
                    <input type="text" name="Prix" class="form-control " placeholder="Prix" formControlName="price" />
                    <small class="text-danger" *ngIf="form.get('price').errors?.required && form.get('price').touched">Cette champ est obligqtoire </small>
                    <small class="text-danger" *ngIf="form.get('price').invalid && form.get('price').touched && form.get('price').value!==''">Value est invalid</small>
                </div>
                <div class="form-group">
                    <input type="number" name="quantityStock" class="form-control" placeholder="Quantity" formControlName="quantityStock" />
                    <small class="text-danger" *ngIf="form.get('quantityStock').errors?.required && form.get('quantityStock').touched">Cette champ est obligqtoire</small>
                    <small class="text-danger" *ngIf="form.get('quantityStock').invalid && form.get('quantityStock').touched && form.get('quantityStock').value!==''">Value est invalid</small>
                </div>
                <div class="form-group">
                    <select name="Category" [(ngModel)]="product.id" class="form-select form-select-lg mb-3 " aria-label=".form-select-lg example" formControlName="Category">
                        <option *ngFor="let c of listCategory" [ngValue]="c.id">{{c.name}}</option>
                      </select>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="form-group ">
                    <textarea name="description" class="form-control " placeholder="Description " style="width: 100%; height: 150px;" formControlName="description"></textarea>
                </div>
            </div>
            <div>
                <input type="submit" class="btn btn-success" value="Modifier " style="cursor: pointer;margin-left: 0.8rem; ">
                <input type="button" class="btn btn-default " value="Annuller " style="cursor: pointer;margin-left: 0.8rem; " (click)="cancel()">

            </div>
        </div>
    </form>
</div>