<div class="user-container">
    <div>
        <p class="name">{{supplier.firstname | uppercase }}{{ " " + supplier.lastname }}</p>
        <p>{{supplier.email}}</p>
        <p>{{supplier.address}} </p>
        <p>{{supplier.phone}}</p>
        <p>{{supplier.createDate}}</p>
        <p>Delelte</p>
        <p>update</p>
    </div>
    <!-- <img src="../../../assets/img/edite_16.png" alt="unexist image" class="Edite" (click)="edit(u.id)">
    <img src="../../../assets/img/trash_button_16.png" alt="unexist image" (click)="delete(u.id)" class="delete"> -->
</div>