<div class="container mb-5">
    <button routerLink="add" class="btn btn-primary pull-right col-md-3 my-2">Ajouter Nouveau Facture</button>
    <div class="d-flex justify-content-center row col-md-12 ">
        <div class="col-md-10">
            <h5 class="my-3">Factures</h5>

            <div class="p-2 row bg-white border w-90">
                <div class="col-md-5 mt-1">
                    <h5 class="mt-3 strong">Client  : taah</h5>
                    <div class="mt-4">
                        <h5 class="strong">Nombre des produits : 7</h5>
                    </div>
                </div>
                <div class=" col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1 strong">Total : </h4>
                        <p class="text-success mt-2">DH 13.99</p>
                        <!-- <span class="strike-text">$20.99</span> -->
                    </div>
                    <!-- <h6 class="text-success">Free shipping</h6> -->
                    <div class="d-flex flex-column mt-4">
                        <button class="btn btn-primary btn-sm" routerLink="details/2" type="button">Details</button>
                    </div>
                </div>
                <div class="date col-md-2 ml-5">
                    <h6 class="strong">Date De Facture :</h6>
                    <h6 class="pull-right">12/12/2021</h6>
                </div>
            </div>


        </div>
    </div>
</div>