<div class="center">
    <div class="container">
        <div class="row">
            <form [formGroup]="loginForm" (ngSubmit)="logIn()">
                <div class="text-center">
                    <i style="color: rgb(172, 25, 173);" class="fa fa-user fa-3x"></i>

                </div>
                <div class="text-center" *ngIf="ErrorAuth">
                    <p>Nom ou Mote de Pass Incorrect</p>
                </div>
                <div class="mb-3">
                    <input type="text" formControlName="username" class="form-control" aria-describedby="emailHelp" placeholder="Nom ">
                    <small class="text-danger " *ngIf="loginForm.get( 'username').errors?.required && loginForm.get( 'username').touched ">Cette champ est obligatoire</small>
                </div>
                <div class="mb-3">
                    <input type="password" formControlName="password" class="form-control" placeholder="Mote de Pass ">
                    <small class="text-danger " *ngIf="loginForm.get( 'password').errors?.required && loginForm.get( 'password').touched ">Cette champ est obligatoire</small>
                </div>
                <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">LogIn</button>
            </form>
        </div>
    </div>
</div>