<div class="container">
    <div class="row p-2 bg-white border rounded">
        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://i.imgur.com/QpjAiHq.jpg"></div>
        <div class="col-md-6 mt-1">
            <h5>{{product?.name}}</h5>
            <hr>
            <div class="mt-1 mb-1 spec-1"><span>{{product?.quantityStock}}</span></div>
            <div class="mt-1 mb-1 spec-1"><span>{{product?.category?.name}}</span></div>
            <p class="text-justify text-truncate para mb-0">{{product?.description}}<br><br></p>
        </div>
        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
            <div class="d-flex flex-row align-items-center">
                <h4 class="mr-1">{{product?.price}}</h4>
            </div>
        </div>
    </div>
</div>